/*concerning the nav bar*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Google Sans Regular";
  box-sizing: border-box;
}
/*for the background of the webpage*/
body{

  background-image: url(../images/Pink\ hearts\ background.jpg);
}
header{
  width: 100%;
  height: 80px;
  background:pink;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
.logo{
  font-size: 28px;
  font-weight: bold;
  color: #fefefe;
}
.hamburger{
  display: none; 
}
.nav-bar ul{
  display: flex;
}
.nav-bar ul li a{
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}
.nav-bar ul li a:hover{
  color: 11101b;
  background: rgb(195, 121, 133);
}
.nav-bar ul li a.active{
  color: 11101b;
  background: rgb(195, 121, 133);
}
/*Different Screen sizes for NAV bar*/
@media only screen and (max-width: 1320px){
  header{
    padding: 0 50px; 
  }

}
@media only screen and (max-width: 1100px){
  header{
    padding: 0 30px; 
  }

}
@media only screen and (max-width: 1100px){
  header{
    padding: 0 30px; 
  }

}
@media only screen and (max-width: 1100px){
.hamburger{
  display: block;
  cursor: pointer;
}
/*for the hamburger icon*/
.hamburger .line{
  width: 30px;
  height: 3px;
  background: #fefefe;
  margin: 6px 0;
}
/*for the nav when the screen shrinks*/
.nav-bar{
  height: 0;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  width: 100vw;
  background: rgb(236, 168, 179);
  transition: 0.5s;
  overflow: hidden;
}
.nav-bar.active{
  height: 450px;
}
.nav-bar ul{
  display: block;
  width: fit-content;
  margin:80px auto 0 auto;
  text-align: center;
  transition:0.5s;
  opacity: 0;
}
.nav-bar.active ul{
  opacity: 1;
}
.nav-bar ul li a{
  margin-bottom: 12px ;
  color: #fefefe;
}
}

/*for the body columns*/
.col {
  color: #fefefe;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 50px auto;
  padding: 0 100px;
}

.col {
  background-color:  pink;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.col img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.col h3 {
  font-size: 24px;
  font-weight: bold ;
  margin-bottom: 10px;
}

.col p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
}

@media only screen and (max-width: 1100px) {
  .grid {
    padding: 0 30px;
  }
}
